div#mydiv {
  width: 150px;
  height: 150px;
  background-color: brown;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
/* @keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
} */

/* @keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: blueviolet;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: green;
  }
} */

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: blueviolet;
    left: 150px;
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: 150px;
    top: 200px;
  }
  75% {
    background-color: blue;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: green;
    left: 0px;
    top: 0px;
  }
}
